/*
Elements: Div by ID:

header1
    logoDiv
    plusIconDiv
header2
contentPane
footer
*/

html {
  background-image: url(/assets/bg.jpg);
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

#header1 {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logoPinstripe {
  position: absolute;
}

#logo {
  position: relative;
}

#plusIcon {
  position: relative;
}

#header2 {
  background-color: #2c2c2e;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #6e6f72;
  text-align: center;
}

#footer {
  background-color: #2c2c2e;
}
